<ion-view view-title="Account">
  <ion-content class="padding" ng-init='startRegistration()'>
      <div style='text-align: center; position: relative; width: 320px; margin: 10px auto;'>
      <img src="img/FS24_TextLogo.png" style="height: 70px;" />
     </div>
    <div class="list" style="margin-top: 40px;">

  <div class='loginin' ng-hide="hideLayer_1()"><img ng-src='{{loadIMG_0}}' style='height: 30px;' /> Contacting Server</div>
  <div style="clear: both;"><div><br />
    <div class='loginin' ng-hide="hideLayer_2()"><img ng-src='{{loadIMG_1}}' style='height: 30px;' /> Prearing to Sign Up</div>
      <div style="clear: both;"><div><br />
     <div class='loginin' ng-hide="hideLayer_3()"><img ng-src='{{loadIMG_2}}' style='height: 30px;' /> Signing Up</div>
      <div style="clear: both;"><div>
              </div>
  </ion-content>
</ion-view>
