
<ion-header-bar style="height: 45px; ">
    <div style=" font-size: 18px; vertical-align: middle; height: 40px;" ng-click="infoback()" >Back</div>
<div style="width: 100px;" class="center"><img src="img/FS24.png"  style="width: 38px; height: 40px;" />
    </div></ion-header-bar>
<ion-view view-title="Dashboard">
  <ion-content class="padding">
       <div style="text-align: center;"><h1>Welcome to ForSure24</h1>
      <p>Welcome to ForSure24 is more than just an app:</p></div>
       <div class="item infoitem"><h2>ForSure24 for Teams</h2>
       <p>ForSure24 for Teams adds a team function to your ForSure24 account.</p>
       </div>
       <div class="item infoitem"><h2>ForSure24 for Teams</h2>
       <p>ForSure24 for Teams adds a team function to your ForSure24 account.</p>
       </div>
       <div class="item infoitem"><h2>ForSure24 for Teams</h2>
       <p>ForSure24 for Teams adds a team function to your ForSure24 account.</p>
       </div>
    </ion-content>
</ion-view>